
@model WebBase.Mvc.ViewModels.HomeIndexViewModel

@{
    ViewBag.Title = "Web Base";
}
<div style="padding:20px 0;">
    
</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval", "~/bundles/customval", "~/bundles/home-index") 
}
