@model WebBase.Mvc.ViewModels.LostPasswordViewModel
@using FizzioFit.Mvc.Helpers;
@{
    ViewBag.Title = "Lost Password";
    var options = new AjaxOptions()
    {
        Url = Url.Action("LostPassword", "Account"),
        OnSuccess = "Account.LostPasswordSuccess",
        OnFailure = "Account.LostPasswordFailure"
    };        
}

<hgroup class="title" style="padding-left: 20px">
    <h3>@ViewBag.Title</h3>
</hgroup>

@using (Ajax.BeginForm("LostPassword", "Account", null, options, new { @class = "form-inline" })) 
{
    @Html.AntiForgeryToken()        
    <section style="padding: 20px;">        
        <div class="control-group">
            <label class="control-label" for="emailAddress">Email Address</label>            
            <input type="email" maxlength="255" name="emailAddress" placeholder="Enter your email address" class="input-xxlarge" />                        
            <input type="submit" class="btn btn-primary" value="Submit"/>
        </div>        
        <span class="label label-success">Note</span>
        <label style="margin-left: 10px; margin-top: 20px;">A reset confirmation email will be sent to the supplied email address</label>
    </section>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval", "~/bundles/account")
}
